<ag-grid-angular
style="width: 80%; height: 500px;"
     class="ag-theme-alpine"
     [defaultColDef]="defaultColDef"
    [rowData]="rowData"
     [columnDefs]="columnDefs"
     [rowSelection]="rowSelection"
         (rowSelected)="onRowSelected($event)"
         [pagination] = "pagination"
         [gridOptions]="componentsGridOptions"
         [paginationPageSize]="paginationPageSize"
    
     >
</ag-grid-angular>

<app-topic-viewer *ngIf="isTopicSelected" [topic]="selectedTopic"></app-topic-viewer>